# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# =========================
# FastAPI / Uvicorn
# =========================
*.log
faiss_index
# =========================
# SQLite Database
# =========================
*.sqlite3
data/faiss_index/index.faiss
data/faiss_index/index.pkl
# =========================
# Jupyter Notebook.

# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Node / React Frontend
# =========================
node_modules/
.next/
out/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.tar